/*- background and text colour scheme -*/ 
body {    
    color: black;
}

/*- apply shading on the elements -*/ 
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/*- make navbar transparent  (not sure if I'll use this on the navbar) -*/ 
.transparentBG {
  background-color: rgba(0,0,0,0);
}

/*- make navbar complementary brown -*/ 
.contrastBG {
  background-color: #587A8C;
}

/*- extend parallax to full screen width -*/ 
.container-main {
    width: 100%;
    max-width: 100%;
}

.profile {
    height: 0px;
}

/*- move the brand logo class item to the right by applying padding add hover animation -*/ 
nav .brand-logo {
    padding-left: 20px;
}

nav .brand-logo:hover {
    color: #64ffda;    
    transform:scale(1.05);
    transition: transform .7s; /* Animation */
}

nav ul a:hover {
    color: #64ffda;        
}

/* Check if this impacts warning image position or else delete */
.warning-image {
    margin: auto;
}

/* apply full width containers */
.wide-container {
    width: 100%;
}

/*- add styling and animation to the social media icons in the footer -*/ 
.social-media {
    margin: 10px;
}

.social-media:hover {
    color: #64ffda;    
    transform:scale(1.3);
    transition: transform .7s; /* Animation */
}

.flashes h4 {
    line-height: 2;
}

.card-image .books {
    height: 600px;
    width: 100%;
}

.card .books {
    height: 600px;
}

.card .books:hover {
    box-shadow: 0 4px 8px 0 #64ffda, 0 6px 20px 0 #64ffda;
}

.card-content {
    height: 90px;
}

.btn-small {
    margin: 5px;    
}



