/*- background and text colour scheme -*/ 
body {
    background-color: #8c6a58;
    color: black;
}

/*- apply shading on the elements -*/ 
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/*- make navbar transparent  (not sure if I'll use this on the navbar) -*/ 
.transparentBG {
  background-color: rgba(0,0,0,0);
}

/*- make navbar complementary brown -*/ 
.contrastBG {
  background-color: #587A8C;
}

.flashes h4 {
    line-height: 2;
}

.card-image {
    height: 500px;
    width: 100%;
}

.card {
    height: 700px;
}

.btn-small {
    margin: 5px;    
}

