{% extends "base.html" %}
{% block content %}

    
    {% for book in books %}
        {{ book.book_title }}<br>
        {{ book.author }}<br>
        {{ book.genre_name }}<br>
        {{ book.book_review }}<br>
        {{ book.book_rating }}<br>
        {{ book.image_url }}<br>
    {% endfor %}

    <ul class="collapsible contrastBG">
        <li>
        <div class="collapsible-header contrastBG"><i class="fas fa-caret-down"></i>First</div>
        <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
        <div class="collapsible-header contrastBG"><i class="fas fa-caret-down"></i>Second</div>
        <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
        <div class="collapsible-header contrastBG"><i class="fas fa-caret-down"></i>Third</div>
        <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>


{% endblock %}