{% extends "base.html" %}
{% block content %}
  
    <!-- Taken from Materialize -->    
    <div class="parallax-container wide-container">
        <div class="parallax"><img src="../static/images/bookstore.png" alt=""></div>
        </div>
        <div class="section white">
        <div class="row container center-align">
            <h2 class="header">"Not all readers are leaders, but <br><em>All Leaders are Readers!"</em></h2>
            <h5>Harry S. Truman</h5><br>
            <a class="btn-large" href="{{ url_for('get_books') }}">Enter</a>
            <h5 class="grey-text text-darken-3 lighten-3">
                Read to Lead is a specialist site curating reviews of the best books for your growth.
            </h5>            
            <h5 class="grey-text text-darken-3 lighten-3">            
                Our community provides value to visitors by sharing their best non-fiction books for personal development.
            </h5>
            </div>
        </div>
        <div class="parallax-container">
        <div class="parallax"><img src="../static/images/bookshelf.png" alt=""></div>
    </div>    

{% endblock %}